@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
}

/* DARK THEME */
.dark {
  --bg: #020617;
  --surface: #0f172a;
  --surface-light: #1e293b;
  --border: #1e293b;
  --text: #f8fafc;
  --text-muted: #94a3b8;
  --primary: #6366f1;
  --surface-hover: #1e293b;
  --input-bg: #0f172a;
  --danger: #ef4444;
}

/* LIGHT THEME */
.light {
  --bg: #f8fafc;
  --surface: #ffffff;
  --surface-light: #f1f5f9;
  --border: #e2e8f0;
  --text: #0f172a;
  --text-muted: #64748b;
  --primary: #4f46e5;
  --surface-hover: #e2e8f0;
  --input-bg: #ffffff;
  --danger: #ef4444;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  transition:
    background 0.25s ease,
    color 0.25s ease;
}
